@import "tailwindcss";

@theme {
  --color-dark-overlay: #191919;
  --color-dark-bg: #202020;
  --color-eng-green: #9AD21B;
  --color-prog-blue: #4496FE;
  --color-des-white: #FFFFFF;

  --font-clear: "Jersey 10";
}

html,
body {
  @apply bg-dark-bg;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
